body {
	font-size: 16px;
	background-color: #E8E8E8;
}
h1 {
    margin: 0px 0px;
}
p {
    padding: 10px;
}
#pageHeader{
    margin-bottom: 10px;
}

#header-nav {
	background-color: pink;
	border-radius: 0px;
	border: 0px;
}

#logo-img {
    background: url('../images/fork-knife-small.png') no-repeat;
    width: 75px;
    height: 75px;
    margin: 5px 10px 5px 0px;
}
#nav-list {
    color: white;
	background-color: #A0A0A0;
	margin-top: 0px;
	margin-bottom: 0px;
}
#nav-list a {
	color:white;
}
.navbar-brand {
    font-family: "Dancing Script", sans-serif;
    font-size: 0.5em;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 4px;
    text-shadow: 1px 1px 1px #222;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.menuItems{
    background-color:grey;
    padding: px;
	min-height: 1000px;
}
#collapsable-nav-items a {
	border-bottom: 1px solid;
}
